[2016-12-16 14:10] ilog2000 opened #1 "Does not run on Windows"
I gave it a try but it does not run on my Windows machine. After installation and VSCode re-load I always see a warning message box:

on pressing Ctrl+Alt+N. If I call it via Ctrl+Shift+P, then I see an error box with the same message.

Windows 10 64-bit. VSCode 1.8.

[2016-12-27 22:26] tolgabalci commented on #1
I have the same exact issue.
Windows 10 64-bit. VSCode 1.8.1

[2017-01-15 12:19] smukkekim commented on #1
This used to work just fine on my windows machine.
I'm assuming there is some clash with updated vs code...

[2017-02-05 19:50] patbenatar commented on #1
Confirmed, doesn't work on Windows. Debugging a bit and traced it to glob-fs which doesn't support Windows (see https://github.com/jonschlinkert/glob-fs/issues/10). Will work on switching to node-glob.

[2017-02-05 21:50] patbenatar commented on #1
@smukkekim @tolgabalci @ilog2000 please try out version 0.1.2 just published to VS marketplace and let me know if you continue to have issues on Windows.

[2017-02-06 07:16] smukkekim commented on #1
There is no longer an error - but nothing happens at all now. Both via ctrl+alt+n and via ctrl+shift+p and selecting the command.

[2017-02-06 15:10] patbenatar commented on #1
@smukkekim what version of VS Code?

[2017-02-06 15:24] patbenatar commented on #1
@smukkekim also, if you wouldn't mind helping me debug:

1. Clone this repo (https://github.com/patbenatar/vscode-advanced-new-file.git)
2. npm install
3. "Launch Extension" in the left-side debug panel of VS Code
4. Try to activate it in the new VS Code window that opens
5. In the parent VS Code window, do you see any errors in the "Output" or "Debug Console" bottom panels?

[2017-02-06 15:58] smukkekim commented on #1
I have just tested it again on my home computer (previous report was after testing on my pc at work).
It works just fine now!
I will have to figure out, what is different between the home- and work-installations.
Sorry!

[2017-02-06 16:01] patbenatar commented on #1
@smukkekim good news! Definitely let me know if you're able to debug the work setup as there may be others affected by the issue you've ran into there

[2017-02-06 21:29] tolgabalci commented on #1
@patbenatar Thank You!  It now works!
I am using: VSCode 1.8.1 + Windows 7 Enterprise SP1

[2017-02-06 21:33] #1 closed

[2017-02-07 07:17] smukkekim commented on #1
Ok... It turns out, it actually works, but is VERY slow in large projects...
If I have a few folders in the project, the extension opens near-instantly

...but my current main project at work, has 3,000+ folders. It takes approx. 30 seconds for the extension dialog to open, after pressing the shortcut.

I assume it's because it is building the dialog for selecting start-path.
(Why does it not just

[2017-02-07 09:01] rabol opened #3 "Does not work [Danish keyboard issue, possible other issues]"
Have installed the extension

press comman+alt+n - nothing happens

[2017-02-07 15:35] patbenatar commented on #3
@rabol thanks for opening an issue and providing additional information on your marketplace review. Copying that here for convenience:

Happy to help get this issue sorted 😃

A couple thing to try that will help me debug:

1. Can you try overriding the keyboard shortcut to a shortcut that is accessible on a Danish keyboard? You can do this by going to Code > Preferences > Keyboard Shortcuts in the

[2017-02-07 15:45] patbenatar opened #4 "Performance issues in projects with many directories (eg > 3000)"
Opening a dedicated issue to track @smukkekim's comment on #1 --

If I have a few folders in the project, the extension opens near-instantly

(Why does it not just use the current project root folder as start-path automatically?)

I've experienced this delay on larger projects as well.

The problem is that we load all the directory paths in the project that so that the user can have a fuzzy autoco

[2017-02-07 15:46] patbenatar commented on #1
@smukkekim opened a dedicated issue for that here: #4

[2017-02-10 20:38] duongphuhiep commented on #4
Hello,

My project is not big, but the plugin is slow because it tries to load the `node_modules` directory. (Proof: when I delete the `node_modules` folder, the plugin worked great again)

So the plugin should not load this big folder. In other words, it should read the User Settings + Workspace settings and avoid to load the following folders
* `projectManager.vscode.ignoredFolders`
* `projectMa

[2017-02-10 21:14] patbenatar commented on #4
@duongphuhiep Great idea, definitely should ignore those workspace ignored folders. The plugin will currently ignore any folders specified in a `.gitignore` file at the workspace root, so for now if you add `node_modules/` to that file, it'll be ignored by the plugin.

[2017-02-10 21:15] patbenatar opened #5 "Ignore directories specified in workspace config"
Cross-posted from https://github.com/patbenatar/vscode-advanced-new-file/issues/4#issuecomment-279059490

* Native setting is `files.exclude`

There's also a `projectManager` extension that adds these settings which have been requested:

* `projectManager.vscode.ignoredFolders`
* `projectManager.git.ignoredFolders`
* `projectManager.svn.ignoredFolders`

[2017-02-11 00:45] duongphuhiep commented on #4
Since the beginning, I always have `node_modules/` in my `.gitignore` (of the root project folder). My `git status` had never suggest anything in `node_modules`.

But the plugin seem not take it in account.

[2017-02-11 00:56] patbenatar commented on #4
@duongphuhiep can you send me the contents of your gitignore file so I can reproduce and debug?

[2017-02-11 02:10] duongphuhiep commented on #4
Here!
it is generated when I created the project

thank you

[code]

[2017-02-11 14:58] patbenatar opened #6 "gitignore directories that are not in project root are not ignored"
See https://github.com/patbenatar/vscode-advanced-new-file/issues/4#issuecomment-279105055

Consider this gitignore in a project where a `node_modules` dir exists in a nested directory. According to glob `node_modules/` would not ignore `foo/node_modules/` but gitignore rules handle this differently. Perhaps an issue in https://github.com/EE/gitignore-to-glob

[code]

please refers to https://gith

[2017-02-11 14:58] patbenatar commented on #4
@duongphuhiep Thanks! I created a dedicated issue for this https://github.com/patbenatar/vscode-advanced-new-file/issues/6

[2017-02-11 15:58] #5 closed

[2017-02-11 16:09] #6 closed

[2017-02-11 16:12] patbenatar commented on #6
@duongphuhiep please try with latest published version 0.2.0 and let me know if its fixed

[2017-02-11 16:13] patbenatar commented on #5
@duongphuhiep latest release 0.2.0 adds support for `files.exclude` which is VSCode's native user and workspace setting for managing ignored files. I opted for adding support for the native setting rather than the `projectManager` plugin settings since not all users are using that plugin.

[2017-02-11 16:16] patbenatar commented on #4
Some fixes to gitignore and VSCode ignore settings drastically improve performance in projects where the bulk of the directories are in fact ignored (ie `node_modules/` dirs)

[2017-02-11 16:22] patbenatar opened #9 "gitignore files in directories above workspace root should be honored"
Context:

* `/project` includes a `.gitignore` which ignores `node_modules/`
* node modules are installed in `/project/sub/node_modules/`
* you have `/project/sub` opened as the workspace root in VS Code

Problem:

* `/project/sub/node_modules` won't be ignored from autocomplete

[2017-02-11 18:04] smukkekim commented on #4
Wow! That certainly improved things. On my massive work project with over 3000 folders, the reaction time from shortcut-activation to dialog display went from 30+ seconds to ~3 seconds!

[2017-02-11 19:54] patbenatar commented on #4
@smukkekim glad to hear it!

[2017-02-12 20:12] #9 closed

[2017-02-15 16:16] bbugh opened #14 "Please consider a VS-Code compatible changelog"
This extension doesn't have a changelog (at least that VSCode can see). This is really important for deciding what to upgrade in a development environment!

![image](https://cloud.githubusercontent.com/assets/438465/22983451/c1a399d6-f367-11e6-95de-aa06a5532f95.png)

[2017-02-18 21:23] patbenatar commented on #14
@bbugh just pushed a small update 0.3.1 that adds a changelog

[2017-02-18 21:23] #14 closed

[2017-02-27 12:12] tlgreg opened #16 "[Windows] Input dialog closes"
Advanced New File dialog closes in a second or so after opening (both with keyboard shortcut or starting from command palette).

Can't provide much else to the problem, no errors or output by the extension, nothing in devtools console.

VSC is 1.10.0-insider on windows.

[2017-03-05 15:42] Kaffiend commented on #16
having the same issue. i really prefer this method of new files compared to the similar extensions in the market place.

[2017-03-05 15:47] patbenatar commented on #16
@Kaffiend are you also on windows? What version of VS Code?

[2017-03-05 15:48] Kaffiend commented on #16
I am dual boot windows 10, i think its on my linux as well, i can check in a bit.
vscode --v : 1.10.1

[2017-03-05 15:56] patbenatar commented on #16
Thanks!

Are you both on the latest version of the plugin?

[2017-03-05 15:56] Kaffiend commented on #16
I am, i just reinstalled to confirm.

[2017-03-06 04:05] Kaffiend commented on #16
I finally got a chance to take a look at linux. Linux is not affected.

[2017-03-06 04:10] patbenatar commented on #16
Thanks @Kaffiend — my primary machine is a Mac and it's not affected. Looks like we've isolated it to a Win issue. I'll debug further when I'm at my Win machine.

[2017-03-06 17:34] resting opened #18 "Nothing happens when I hit enter"
So I did <kbd>cmd + alt + n</kbd>, then entered a relative path and filename.
Nothing happens when I hit enter after that.
Not such what could be the problem.

VSC: Version 1.10.1 (1.10.1)

[2017-03-06 17:36] resting commented on #18
Ah, just noticed I had to select a existing path first.
Works perfectly now :)

[2017-03-06 17:44] resting commented on #18
Actually, is there a way to skip the existing path selection?
Have added `"newFile.relativeTo": "file"` but its still prompting me to select a existing path.

[2017-03-06 17:51] patbenatar commented on #18
@resting not currently, no. But that's a good feature idea. Will you open a new issue with that feature request? (Also feel free to contribute the feature yourself via PR :) ) Thanks!

[2017-03-06 17:51] #18 closed

[2017-03-20 15:13] seadynamic8 commented on #16
I just wanted to put in another notice that I also have run into the same problem on Windows. (with version 0.4.0 of ANF and 1.10.2 of VSC)

Works fine on Linux.  Don't have a Mac, so can't test there.

[2017-03-20 16:34] patbenatar commented on #16
Thanks @seadynamic8 .. I unfortunately haven't had a chance to debug on my Windows machine. If anyone here wants to help out with that, would be much appreciated :)

[2017-03-24 07:12] tlgreg commented on #16
Just a tiny update, cause I couldn't debug, just re-enabled the extension today to check, currently vscode is on 1.11.0-insider, now the dialog doesn't close, but when trying to select an existing path it loads infinitely, existing paths doesn't show.

[2017-03-24 07:48] tlgreg commented on #16
Ok, found the problem. It's in `walkupGitignores`, systemRoot returns the root in capital, while path.resolve returns the drive letter in a small case, so it's an infinite loop.

[2017-03-24 22:08] patbenatar commented on #16
Thanks @tlgreg ! Fixed in #19 — will push out a release soon

[2017-03-24 22:35] patbenatar commented on #16
Fixed in 0.4.1

[2017-03-26 13:55] ylchuai opened #20 "I can't use it on Windows"
I use it on windows7, when I try to use it , show "First, select an existing ...." at the top, and it will close at once. I don't know did I do something wrong?

[2017-03-26 14:53] patbenatar commented on #20
@ylchuai what version of VS Code and what version of the plugin? I just checked plugin 0.4.1, VS Code 1.10.2, Windows 10 and it's working—I don't have a Window 7 install on hand to test with.

[2017-03-26 14:57] ylchuai commented on #20
@patbenatar I think it is my option have some error, tomorrow I will install it on my workComputer, hope it will be OK. Thank you very much.

[2017-03-26 14:57] #20 closed

[2017-03-27 22:43] Kaffiend commented on #20
still issues on windows

[2017-03-27 22:45] patbenatar commented on #20
Re-opening #16

[2017-03-27 22:45] Kaffiend commented on #16
Windows 10 X64 still closes automatically. Linux still fine.

[2017-04-02 16:04] patbenatar commented on #16
@Kaffiend I'm unable to reproduce the issue on my Windows 10 machine. Can you try building the project on your machine? If you're able to reproduce off the `master` branch then we can begin debugging on your system. See https://github.com/patbenatar/vscode-advanced-new-file#contributing for setup instructions

[2017-04-02 16:05] patbenatar commented on #3
Closing this as unresponsive. If Danish keyboard support gets more requests, will reconsider

[2017-04-02 16:05] #3 closed

[2017-04-02 16:08] patbenatar commented on #4
I think this is now just about as good as we can get it without making a fundamental tech switch (eg replacing the glob search with a C implementation). Given that I haven't heard further complaints in a couple months, closing it out.

[2017-04-02 16:08] #4 closed

[2017-04-02 16:31] Kaffiend commented on #16
I havent tried the master branch yet, just the latest in the market. Ill
check it out.

On Apr 2, 2017 12:04 PM, "Nick Giancola" <notifications@github.com> wrote:

[2017-04-02 16:33] Kaffiend commented on #4
Most likely a node_modules dirextory causing an issue? Perhaps inherit
vscodes directory search ignore settings?

On Apr 2, 2017 12:08 PM, "Nick Giancola" <notifications@github.com> wrote:

[2017-04-02 16:40] patbenatar commented on #4
@Kaffiend precisely! Honoring of gitignores and vscode workspace ignore settings are some of the improvements rolled out over the past couple months that have addressed this issue

[2017-04-02 16:40] patbenatar commented on #16
Thanks @Kaffiend !

[2017-04-02 16:40] Kaffiend commented on #4
Awesome!

On Apr 2, 2017 12:40 PM, "Nick Giancola" <notifications@github.com> wrote:

[2017-04-05 16:11] Kaffiend commented on #16
ok finally getting a breather moment to try this, ill let you know here shortly. Sorry been swamped.

[2017-04-05 16:22] Kaffiend commented on #16
Still closes without any message..

on the directories function we are getting a max call stack on the reject.

[2017-04-05 16:47] Kaffiend commented on #16
the `walkupGitignores` function is walking from the root of the drive, not root of workspace. why would you want to start at the root and not the root of the workspace? Not convinced this is the entire issue, but seems rather inefficient??

[2017-04-05 17:03] Kaffiend commented on #16
Found the problem..or problem at least.
[this](https://github.com/patbenatar/vscode-advanced-new-file/blob/master/src/extension.ts#L11) returns the node process cwd, problem is, the root workspace may not be on the same drive. Windows node is installed and runs from C:\ and is accessed through path variable on other drives. I do all my development on a separate ssd from my OS which is D:\

[2017-04-05 18:41] Kaffiend commented on #16
Ok got my head wrapped around this extension a little better now. I'll issue a PR here soon with the fix

[2017-04-06 19:16] patbenatar commented on #16
@Kaffiend thanks! I commented on the PR

[2017-04-18 16:49] patbenatar commented on #16
Should be fixed in 0.4.3

[2017-04-18 16:49] #16 closed

[2017-04-27 09:49] jonathan-s opened #23 "Creating a directory does not seem to work"
It doesn't seem to work to create a directory even if you use a `/` after the initial directory.

[2017-04-27 09:50] jonathan-s commented on #23
You need to provide a file name for the directory to be created as well.

[2017-04-27 09:50] #23 closed

[2017-04-27 13:17] patbenatar commented on #23
This functionality should work without a file by postfixing with / in the second dialog. If that's not what you're experiencing, let me know what operating system and VS Code version you're on so we can debug. Thanks!

[2017-04-27 13:28] jonathan-s commented on #23
Hi @patbenatar,
In the second dialogue I had to write `/somefolder/somefile.txt` for it to work properly. If I wrote `/somefolder` it looked like it was creating a file of that. I'm using osx with version Version 1.11.2 (1.11.2) of VS Code.

[2017-04-27 13:31] patbenatar commented on #23
@jonathan-s it should work with `somefolder/` (where the `/` is trailing instead of leading)

[2017-04-27 13:38] jonathan-s commented on #23
ah, right. Suffix means "after" after all. Perhaps make it even clearer with the example in the docs?

[2017-04-27 13:40] patbenatar commented on #23
@jonathan-s good idea! Will you PR an update to the README that makes it more clear? Thanks!

[2017-04-27 13:40] jonathan-s commented on #23
Sure!

[2017-06-29 07:20] svenax opened #25 "Create relative the current file"
Too bad that VS Code does not yet support path completion. Let's hope that it will soon ...

As a convenience, maybe you'd like to implement the same shortcut the extension in Sublime Text uses:

- Type a path starting with a colon, and the file or folder will be created right away relative the currently open file.
or
- Type colon and return to select the directory of the current file, and then in

[2017-07-02 22:17] Kaffiend commented on #5
Would be nice to just specify a separate config property in the workspace config or user config like vscodevim does or inherit from .gitignore as that is a closer match to traversal directories to exclude, this feels like a workaround as there are reasons to see your node_modules directory and dist directories in vscode but will never need the extension to traverse them in the fuzzy finder.

[2017-07-03 23:34] patbenatar commented on #5
@Kaffiend it currently will honor both `.gitignore`, are you observing behavior that suggests it's not honoring your gitignore?

[2017-07-03 23:53] Kaffiend commented on #5
Possibly. Im still investigating it. I know the problem lies with an electron dist directory and native node modules separate from the project node modules. And the only solution that worked was the vscode exclude. But there may be a bad gitignore entry that i overlooked. I will double check this evening.

[2017-07-03 23:56] patbenatar commented on #5
Thanks @Kaffiend — keep me posted

[2017-07-04 00:22] Kaffiend commented on #5
@patbenatar Looks like its not honoring the following directories from the `.gitignore`
[code]
it possibly may be hitting the root `node_modules` directory as well. Once i add those to the vscode workspace exlude array, the performance is great.

[2017-07-04 01:24] Kaffiend commented on #25
the last option seems the most friendly with it highlighted, enter again to repeat directory, just type for new directory?

[2017-07-04 16:41] patbenatar commented on #25
@Kaffiend @svenax thoughts on the below? (this is based off of @Kaffiend 's #26 )

I'm thinking make it default behavior, rather than behind an option.

<img width="599" alt="screen shot 2017-07-04 at 9 39 19 am" src="https://user-images.githubusercontent.com/453695/27838023-cd3d40d8-609c-11e7-954f-846034ffe289.png">

[2017-07-04 16:43] svenax commented on #25
That looks perfect to me. Thumbs up!

[2017-07-04 16:59] Kaffiend commented on #25
I like it and find it more useful

[2017-07-05 13:01] Kaffiend opened #27 "gitignore not honored"
`.gitignore` is not honored
[code]
![sketch](https://user-images.githubusercontent.com/7826229/27865425-7feed9da-6160-11e7-8855-430b6d9aa583.png)

[2017-07-05 17:28] Kaffiend commented on #27
did some tests, and it appears the parsing of the gitignore is not applying directories prefixed or suffixed with `/`

[2017-07-05 22:24] patbenatar opened #28 "Remove appveyor vs code version lock once vscode-extension #64 is fixed"
https://github.com/Microsoft/vscode-extension-vscode/issues/64

[2017-07-05 22:49] Kaffiend commented on #27
Confirmed, even though /dir/ is valid for gitignore, pattern is not honored by plugin, though no prefixed dir work as expected.
possibly split the string and only compare names if `.isDirectory`?

[2017-07-05 22:56] #25 closed

[2017-07-05 23:06] patbenatar commented on #25
Just released 0.5.0

[2017-07-06 00:22] #27 closed

[2017-07-25 22:25] Kaffiend opened #31 "Option to disable vscode notification of creation"
I myself find the notification on the top bar disruptive and annoying when making lots of folders and files in succession. Would be nice to have an option to disable it. Seeing the directory or file popup in the main window and explorer on the side is enough for me. Or make it timeout, and not require acknowledgement.

[2017-08-14 10:36] ilkka opened #32 "Does not work with new Insiders multi-root workspaces"
I just upgraded to the Insiders version and started using multi-root workspaces. I noticed an issue where if I have several root directories added to my workspace and use ANF to create a file, it will always be created in the first / topmost root, and its workspace root relative path will contain its absolute _intended_ path. This probably requires an example:

![nayttokuva 2017-08-14 kello 13 30

[2017-09-11 21:43] patbenatar commented on #32
@ilkka thanks for testing with multi-root. I'm not surprised that it breaks down, as I understand that update will impact any plugins that use certain VS Code APIs that we're using. How would you expect this plugin to behave when used in a multi-root workspace?

[2017-09-12 06:05] ilkka commented on #32
I think current-file-relative paths should work as they do currently, and perhaps the single "workspace root" selection in the first dialog could be replaced with a list of all the roots added to the workspace. As the roots can be anywhere in the filesystem, I think a single root would often not make sense, even if it could be deduced by a common ancestor search.

So, in my example case the first

[2017-09-12 21:53] patbenatar commented on #32
@ilkka makes sense to me! I'm pretty busy for the next few weeks; will try to get to this when I have a moment. I'd appreciate your help if you'd be interested in contributing a PR :)

[2017-10-14 15:38] patbenatar commented on #32
Here is some guidance from MS: https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs

[2017-10-14 15:41] ilkka commented on #32
Hey cool! As it happens I was just trawling for stuff I could submit PRs for for Hacktoberfest, so if you don't already have something cooking, I would like to take a stab at this.

[2017-10-14 15:42] patbenatar commented on #32
@ilkka awesome! I haven't started; would love your contribution :)

[2017-10-18 20:23] wangzq opened #33 "Doesn't work on Windows"
It seems we are resolving absolute path twice and causing this on Windows: `d:\temp\d:\temp\test.js`, probably not an issue on Mac or Linux.

[2017-10-25 16:30] strangemonad opened #35 "Collapse to single step when fuzzy matching finds no results"
It's annoying to have to first select "/" when a root folder doesn't exist. Forgive me if I'm not correctly understanding the VS Code limitation.

Assuming we currently have a workspace like:
/foo/...
/bar/...

and we type "baz/baz1" into the fuzzy search. Hitting enter should behave as if I had selected "/". i.e. this creates a new file relative to the workspace root. Note that typing "/baz/baz1"

[2017-10-25 16:44] patbenatar commented on #35
@strangemonad this is a great idea! Would you be interested in contributing a PR?

[2017-10-25 17:20] strangemonad commented on #35
I can take a look. I might have some time next week

[2017-11-03 20:14] nikitavoloboev opened #37 "Disable warning notification on dismissing the action"
This popover is really annoying when you want to make a new file but then change your mind.

![2017-11-03 at 21 12](https://user-images.githubusercontent.com/6391776/32394004-f5a37480-c0db-11e7-8411-8282c83aa99a.png)

Please allow users to remove it. Thank you.

[2017-11-03 20:17] #37 closed

[2017-11-05 17:50] patbenatar commented on #32
@ilkka any luck with this one?

[2017-11-05 19:50] patbenatar commented on #33
@wangzq I'm unable to reproduce this on Windows. Can you provide steps to reproduce, including info about the directory you have opened in your workspace, selection at the first step after launching plugin, input in second step, and result?

Also see my comment on #40

[2017-11-05 19:51] #31 closed

[2017-11-05 19:55] patbenatar commented on #31
@Kaffiend released in 0.5.1

[2017-11-05 20:02] patbenatar commented on #35
@strangemonad I took a look into this and it doesn't appear possible given the VS Code extension limitation noted on the README. Basically: `showQuickPick` only allows users to select from predefined options, so `baz/baz1` results in no match and thus doesn't allow the user to submit. And `showInputBox` doesn't allow for type-ahead matching against predefined options.. so we can't have both intera

[2017-11-05 20:02] #35 closed

[2017-11-05 20:10] #28 closed

[2017-11-06 08:46] ilkka commented on #32
Hey, sorry about that, life kinda intervened :) But I just submitted #42 (which still needs a check for when there are zero workspace roots, I think).

[2017-11-08 00:51] chriys commented on #33
@wangzq can't reproduce either. I'm using it both on mac and windows and everything is fine.

[2017-11-08 12:37] #33 closed

[2017-11-20 12:40] a-eid opened #44 "pressing return/enter after specifing the path does nothing?"
I'm using the latest version of code `1.18.1`
and have just installed the extension,

after I specify the path pressing return/enter has no effect what so ever.

[2017-11-22 16:46] patbenatar commented on #44
@a-eid what OS are you on?

[2017-11-22 17:09] a-eid commented on #44
@patbenatar

macOS High Sierra.

its probably worth mentioning that when I select a file from the sidebar with my arrow keys and hit enter/return it puts me in a rename mode which I have been told is not the way it should behave.

could that be the issue?

[2017-11-22 18:08] patbenatar commented on #44
@a-eid I'm not able to reproduce on my mac running High Sierra. Is the issue happening for you on all of your workspaces or only a specific one/few? Would you be able to clone this repo and try running it locally in development to see if you get errors in the console?

[2017-11-22 18:44] a-eid commented on #44
@patbenatar I have only tried the extension on this workspace. I don't currently get any errors.
I will close the issue, clone the repo and look more into it.

could you confirm the issue with the sidebar.
selecting a file/folder with your arrow keys and hitting enter does it but your cursor in the editor area, or does it try renaming it.

[2017-11-22 19:49] patbenatar commented on #44
@a-eid thanks for helping debug! I'm actually going to reopen this issue since someone else +1'd it so it's not just isolated to your environment.

My sidebar is behaving similarly to yours: arrow keys and hitting enter tries to rename.

[2017-11-24 10:56] gabrielecirulli opened #45 "Setting to prioritize "current file" over "last selection""
Thanks a lot for this extension, it was one of my main holdouts while switching from Sublime Text and it has made the transition much more painless.

While using the Sublime Text version, I found myself always using the "current file" option (this is because the first item in the list was always the current path). In this extension, it is shown as the second path in the list below "last selection"

[2017-11-24 17:56] patbenatar commented on #44
@misenhower thanks for following up.

Closing this out pending further info from @a-eid

[2017-11-24 17:56] #44 closed

[2017-11-24 17:58] patbenatar commented on #45
@gabrielecirulli thanks for the kind words! Glad to hear it's helping out your workflow. I agree this is a good idea for an improvement. I'll look into it when I have a moment, or you're welcome to open a PR :) (if you're interested, I'd suggest waiting for #46 to merge as it introduces some refactors that will make this feature easier to add)

[2017-12-12 04:10] ngocphamm opened #47 "The extension contains the whole Visual Studio Code App"
At first, I noticed that the it takes a long time to install the extension. Then this is what I found.

[code]

So basically it contains the whole Visuao Studio Code app itself!

Does anyone know the reason why?

[2017-12-12 04:23] patbenatar commented on #47
That isn’t this plugin. I think you’re looking for https://github.com/dkundel/vscode-new-file

[2017-12-12 04:23] #47 closed

[2017-12-12 04:24] ngocphamm commented on #47
I am terribly sorry. I opened too many tabs and ended up posting in the wrong repo :-(

[2017-12-12 04:28] patbenatar commented on #47
Ha! No worries :)

You can give this plugin a shot as an alternative if you’re having issues with the other

[2017-12-12 04:31] ngocphamm commented on #47
I actually used this one without no problem until I got into multi-root workspace and this one has not been supported (yet). I figured soon because of the pull requests, but I just gave the other one a shot.

[2017-12-16 17:38] patbenatar commented on #32
Multi-root support added in v1.0.0, just released to marketplace

[2017-12-16 17:38] #32 closed

[2017-12-16 17:39] patbenatar commented on #47
@ngocphamm multi-root support has been added in 1.0.0, just released to marketplace

[2017-12-16 17:44] ngocphamm commented on #47
@patbenatar Awesome! I'm coming back to this extension!

[2017-12-16 18:56] patbenatar commented on #47
:+1: let me know how it works for you

[2017-12-16 19:29] ngocphamm commented on #47
It's working fine but I wish if it can remember the last selected root to start with.

[2017-12-17 16:28] patbenatar opened #48 "In multi-root workspaces, order directory options by last used root"

[2017-12-17 16:29] patbenatar commented on #47
@ngocphamm good idea, I just created a separate issue for it: #48

[2017-12-17 17:42] #45 closed

[2017-12-17 18:15] #48 closed

[2017-12-17 18:16] patbenatar commented on #48
@ngocphamm just released this in 1.1.0

[2017-12-17 18:37] ngocphamm commented on #48
Awesome! I was thinking it won't "ask" for which root to start with that I will just have to type in file name to create but it actually "remembers" the last option to pre-selects it. One more Enter away is not bad! Thank you @patbenatar!!!

[2018-01-31 17:15] Kaffiend opened #51 "disable created directory and file notification"
My main driving factor is the mouse-free friendly-ness this extension provides. Allow an option to disable the created message that has to be clicked to dismiss. This is rather annoying when creating multiple directories. These stackup and block the fuzzy finder on the next usage.

![image](https://user-images.githubusercontent.com/7826229/35636823-620066f8-0680-11e8-8831-548ad2625cdc.png)

[2018-01-31 17:19] Kaffiend commented on #51
Disregard, i found the setting. Thanks

[2018-01-31 17:19] #51 closed

[2018-01-31 17:40] patbenatar commented on #51
😃

[2018-01-31 17:41] Kaffiend commented on #51
Think i actually complained about this a while back just didn't see the issue 😄 and just out of curiosity i looked in user settings 😁

[2018-02-07 17:30] karptonite opened #52 "Feature: Ctrl-n/Ctrl-p to navigate list"
While it is possible to navigate the directory list with the arrow keys, it would be nice to also be able to use ctrl-n(ext) and ctrl-p(revious), as I believe we can in other such menus in vs-code. (I say "I believe" because it works for me, but I'm not 100% sure it also works by default).

[2018-02-16 03:53] ldiebold opened #53 "Slow, unless I exclude "public" folder"
I have a Laravel Project and wasn't able to use this plugin because it took too long to load (never waited long enough to see if it loaded at all)

I fixed this by excluding the "public" folder

Here's the entire contents of my public folder:

![image](https://user-images.githubusercontent.com/1305724/36292818-a5941ec8-1328-11e8-8f53-7ce67dff8d04.png)

Why would this fix the issue? There's practic

[2018-02-17 16:20] patbenatar commented on #53
@ldiebold very interesting, thanks for the report. It looks like that screenshot is taken from within VS Code sidebar, can you verify that it's the same contents outside of VS Code (e.g. using `tree` at the command line)? I want to make sure VS Code isn't filtering out files or directories from its display.

[2018-02-17 16:23] patbenatar commented on #52
@karptonite unfortunately we don't have control over the interaction in that picker box, it's a built-in VS Code component: `vscode.window.showQuickPick` https://code.visualstudio.com/docs/extensionAPI/vscode-api

It's unfortunate that some native menus in VS Code seem to support that behavior, while the menu made available to extension developers doesn't :(

[2018-02-17 16:23] #52 closed

[2018-02-17 16:23] patbenatar commented on #52
@karptonite you might consider opening a feature request with VS Code to see if they'll implement this in the extension quickpick

[2018-02-22 12:57] alextegelid opened #54 "Expand with ability to create folders"
I'd like to se an expansion of this extension with the ability to create folders. Is there any plans for that?

[2018-02-22 15:22] patbenatar commented on #54
@alextegelid you can create a directory instead of a file by suffixing the file path with / as in somedirectory/

[2018-02-22 15:22] #54 closed

[2018-02-22 16:42] bfranklyn commented on #53
is it possible to implement some sort of caching? I noticed each time hit the advanced new file command it loads the project again.

[2018-02-22 22:52] ldiebold commented on #53
@patbenatar unfortunately, I cleared out my public folder before performing the "tree" command. Now everything is working!

Sorry I replied too late and wasn't able to give more insight.

[2018-04-09 04:52] xiechao06 opened #56 "feature request: create new file in current split"
Eg. If I split the editor, and focus on the right window, and create a new file, I wish the newly created file is displayed in the right window.

[2018-04-09 18:47] patbenatar commented on #56
Good idea @xiechao06

I think this can be done easily via `showTextDocument(document: TextDocument, column?: ViewColumn, preserveFocus?: boolean): Thenable<TextEditor>` using `ViewColumn.active`: https://code.visualstudio.com/docs/extensionAPI/vscode-api#ViewColumn

[2018-04-12 01:41] rouzbeh84 opened #57 "absolute path + new dir/file.ext"
Not sure if this is the default behavior or a VSCode limitation but when write an absolute path to add a new folder as well as file it does not create the dir or file. When i use the helper paths like 'relative' it creates both dir/file.

Here is a quick gif of what's happening. At the end i'm repeatedly hitting enter but nothing is happening.

![no new dir on enter in absolute path](https://dha4w

[2018-04-22 17:30] patbenatar commented on #53
@ldiebold hmm sounds like you may have had some large hidden directory tree inside of public, given that it works fine after emptying public. :-/

@bfranklyn agreed, speeding up the directory picker launch time is an important thing to focus on. I've considered caching the directory options in the past but didn't come up with a good solution for invalidation and updating the cache to ensure you ca

[2018-04-22 17:36] patbenatar commented on #57
@rouzbeh84 this isn't a bug, but an unfortunate usability pitfall due to how this plugin works within the limitations of the UI controls available to VS Code plugins.

Every time you launch the plugin, the first step is to select the directory from which you want to create relative to. Then you're presented with a new dialog that allows you to input the new file location relative to that previousl

[2018-04-22 17:36] #57 closed

[2018-04-23 16:05] rouzbeh84 commented on #57
Oh ok, Maybe I poorly described it my issue. The first half of what it shows works great but the second bit is why i opened this.

Basically if i type in an absolute path that includes a directory it doesn't do anything when hitting enter and fails 'silently.' I know it didn't work due to the input still being available but otherwise am not sure why this would work differently than when making a n

[2018-04-23 16:08] patbenatar commented on #56
@xiechao06 just published a new version with this functionality

[2018-04-23 16:08] #56 closed

[2018-04-23 16:11] patbenatar commented on #57
@rouzbeh84 I think we're misunderstanding one another. Unless if you see "Relative to [path]" below the text input, the only thing you can do is select from the paths in your project. Once you've selected, you'll then see a new input with "Relative to [path]" written below it, at which point you can type any path to create the new file/dir. In your gif, you're trying to type `/Test2/test2.js` in t

[2018-04-23 16:14] rouzbeh84 commented on #57
got it! same page now thanks! so basically always have to select the root path at some point. perfect! thanks for clearing up.

[2018-04-23 16:16] patbenatar commented on #57
@rouzbeh84 yeah.. I'd really like to be able to support the interaction you're making in that gif but I don't think it's doable until we have https://github.com/Microsoft/vscode/issues/426

[2018-05-17 00:38] DaveTorbeck opened #58 "Default path"
Is it possible to default the path to the workspace root without having to select it every time?

[2018-05-26 15:13] patbenatar commented on #58
@DaveTorbeck sure, but that would make it much less convenient to create files in existing directories. Can you elaborate on your use case?

[2018-06-24 16:09] patbenatar commented on #58
@DaveTorbeck @jmcbee The reason we first show the directory picker is because VS Code extension API doesn't give us the ability to tab complete while you're typing an existing path into the new file path input. If we were to use a configuration option to bypass the directory picker, you'd have to manually type the path to your new file without any assistance from auto-completion. Just want to make

[2018-06-24 16:36] jmcbee commented on #58
I don't know about @DaveTorbeck but that is fine with me. Maybe we could make that clear with the naming of the configuration option.

[2018-07-19 12:41] catfist opened #59 "Not applied default encording"
Now not applied VSCode setting `files.encoding` at creating new file.
It's better to reffer this setting.

[2018-07-20 12:47] acheronfail opened #60 "[feature request] consider adding rename and delete current file commands"
Sublime Text's [AdvancedNewFile](https://github.com/skuroda/Sublime-AdvancedNewFile) package provides commands for `Delete Current File` and `Rename Current File` (among others) which are really nice to use from the command palette.

For a list of their supported commands, [see here](https://github.com/skuroda/Sublime-AdvancedNewFile/wiki/Commands).

Would you consider adding any of these commands

[2018-07-20 12:52] patbenatar commented on #60
@acheronfail I'd recommend https://github.com/sleistner/vscode-fileutils — that plugin does what you're describing very well

[2018-07-20 12:52] #60 closed

[2018-07-20 12:53] acheronfail commented on #60
Wow, I'd just come across that and was about to close this issue and mention that!

Thanks all the same for providing the link. :)

[2018-07-20 12:55] patbenatar commented on #60
Ha! What a coincidence. Cheers
On Fri, Jul 20, 2018 at 8:54 AM acheronfail <notifications@github.com>
wrote:

[2018-07-27 19:37] bbugh opened #61 "Update extension using new "QuickPick" API for single input selection?"
It appears that the issue preventing a single selection (a la Sublime/Atom) has had some progress with an example API and some request for comment: https://github.com/Microsoft/vscode/issues/426

Comments for QuickPick API: https://github.com/Microsoft/vscode/issues/49340

Do you plan on updating this amazingly useful extension to support it? Having to create new files in two steps is one of the l

[2018-07-27 22:41] patbenatar commented on #61
@bbugh this is great news! I’ll catch up on those threads and see what’s next for the extension to take advantage of the VS Code update. Thanks for bringing this to my attention.

[2018-08-05 16:09] patbenatar commented on #61
Looks like the extension API changes will work great for us. They're available as preview in the most recent release, and there's a recent commit promoting them to stable so hopefully they land in the next release.

[2018-08-06 14:27] bbugh commented on #61
Wahoo! Exciting! Thanks for looking into it and making this incredibly useful extension. 👍  Being able to do it in one go is going to be a big daily experience improvement.

[2018-08-29 14:19] TheFirstMe opened #62 "[Feature ?]"
Be able to create files in a single go. Right now it seems that you have to type the destination directory first and then type the file name. Is this already available now or can it be made available?

[2018-09-14 14:14] joe4dev commented on #61
@patbenatar I guess you were referring to this commit: https://github.com/Microsoft/vscode/commit/8804cedf650b6a0a1cbca54de02d07288f18dddc

There is also an example available on how to use the new API: https://github.com/Microsoft/vscode-extension-samples/blob/master/quickinput-sample/src/quickOpen.ts

So it should be possible to replicate the path tab-autocomplete feature from Sublime (c.f., http

[2018-10-18 12:21] virzen opened #63 "Unintuitive fuzzy-matching"
Hi!

Thanks for creating and maintaining this plugin, it is a big improvement over the built-in ways of creating new files.

I've got one issue with it though - fuzzy matching. It works in a somewhat unexpected way. Let me give an example:

I have following directory structure:
[code]

Now, I want to create a new file inside the `src/groups/components` directory. I would expect any of the followin

[2018-11-05 19:08] BrewCurious opened #64 "Dialog input not responding"
I'm relatively new to VS Code and just installed the advanced-new-file extension on my work Mac today. It appeared to install fine, reloaded the editor to enable, but when I pull up the dialog for creating a new file (using either the hotkey combination or the command palette), it shows the "loading" bar underneath for about 5 seconds, presents no file/directory suggestions and then disappears. Ty

[2018-11-20 09:21] tkoelpin opened #65 "Missing License"
Hello,

I like your VSCode Extension, but I need your License.
May I use this Extension for commercial purposes?

Many thanks in advance

[2018-11-22 16:10] patbenatar commented on #65
@tkoelpin I just added MIT License, so you're good to use it for commercial purposes :+1:

[2018-11-22 16:10] #65 closed

[2018-11-23 07:55] tkoelpin commented on #65
Yay, that sounds good. Many Thanks for your support.

[2019-02-06 12:06] stefanledin opened #66 "Almost never works in WordPress projects"
I only get three sugestions:

- last selection
- current file
- workspace root

No matter what I type, I don't get any results. For example, if I type `assets`, I'd like the `/wp-content/themes/my-theme/assets/` directory to appear in the list.
The plugin works well in other type of projects, but 95% of my time is spent in WordPress projects 😅

What info could I contribute with in order to help? 🤷

[2019-02-08 14:04] aalpgiray opened #67 "Icon for library"
May be this one

http://icons.iconarchive.com/icons/zhoolego/material/512/Folder-Doc-icon.png

[2019-02-12 20:36] tomocy opened #68 "new files are invisible in directory tree unless the tree is reloaded"
VSCode: ver1.31
OS: MacOS Mojave

When I create a new file using this extension, the file does not appear in directory tree.
But `ls` shows the file there so the file is successfully created.
Is this a problem of this extention or of VSCode?
The former is that this extension forgets to reload directory  tree after creating new file, while the latter is that VSCode fails to reflect directory tree.

[2019-02-25 13:16] musial-adam commented on #68
I have the same issue.
VSCode: Version 1.31.1
OS: macOS Mojave Version 10.14.3

[2019-06-11 15:04] timlogemann opened #69 "Create multiple files in one go"
It would be great if it was possible to create multiple files in one command, similar to how the other "Advanced New File" plugin allows you to do so:
https://marketplace.visualstudio.com/items?itemName=dkundel.vscode-new-file

it allows you to write something like `{file1.js, file2.js}` and it will create 2 files for you in the specified directory. It would also be nice to allow it as a sub part,

[2019-10-28 11:09] amannn opened #70 "Better support for creating files with different extensions"
In a React project, I frequently create a stylesheet file while I have the respective JavaScript file open.

E.g. coming from `Dialog.js`, I want to create `Dialog.scss`.

<img width="600" alt="Screenshot 2019-10-28 at 12 03 53" src="https://user-images.githubusercontent.com/4038316/67673735-17f90480-f97b-11e9-9bcc-9dfdc8d71e74.png">

Would you be open to a setting to either:
1. Select the file ex

[2019-11-12 21:12] pettert85 opened #71 "vscode 1.38.1.1-x86-64.tar.gz broke advanced new file"
Upgrading Visual studio code to the latest in Arch Linux aur today ( visual-studio-code-bin-1.38.1-1-x86_64.pkg.tar.xz) broke advanced new file for me. Auto completion (tabbing) would not work anymore and files would not be created / saved anymore when hitting enter.

Reverting back to visual-studio-code-bin-1.38.0-1-x86_64.pkg.tar.xz seem to have fixed it again.
Probably something new in that VSC

[2020-01-08 09:31] chrisjkellett commented on #71
Using Version: 1.41.1 for MacOS and after installing cannot create files or directories.  As reported above, auto completion does not work and files/folders are not created when hitting enter.

[2020-01-09 20:42] mhkeller commented on #61
This would be a great improvement and fix the issue mentioned in the readme https://github.com/Microsoft/vscode/issues/426

[2020-01-30 22:17] AntonGrekov opened #72 "Change slashes type"
I've installed your extension to windows machine. I have back slashes = '\', and i don't like it :)
How to i change it to linux straight slashes '/' that are more convinient to my eyes O_O ?

[2020-03-03 19:54] RCMoonpie commented on #71
I'm new to VS Code and tangentially found this Advanced New File mentioned on a blog.  So I installed it, and it immediately didn't work: As mentioned above, pressing 'Enter' did not create/save/change/add/do anything.

VS Code 1.42.1

[2020-04-10 15:52] chuckhendo commented on #69
I added brace expansion to the other plugin! I'll take a look to see what it would take to add to this one (assuming this extension is still maintained, @patbenatar are you accepting PRs for this repo?)

[2020-04-10 16:35] patbenatar commented on #69
@chuckhendo absolutely open to PRs :) -- I haven't personally had time to work on this project in a while, but I'd love collaborators.

[2020-04-23 07:45] arijun opened #74 "Extension fails if there is a broken link anywhere in the project"
It seems when there is a broken softlink in my project, the extension dies when opening it with the error
`ENOENT: no such file or directory, stat '/path/to/link'`

A workaround is to just delete the broken links but that can be annoying if there are many broken links.

[2020-06-10 02:01] matthewmcgarvey opened #81 "Extension breaks after change to limit glob search to directories"
I'm assuming it is because of the change found here: https://github.com/patbenatar/vscode-advanced-new-file/blob/774fc3377d8774546cb578d1ee62da5a6ee2d359/src/extension.ts#L81

This is not to say that they change is bad but I have had to revert back to the previous version of the extension.

I have a project with a public directory and a `mix-manifest.json` file inside it. The extension fails sayin

[2020-06-18 02:35] rpbaltazar commented on #81
I am facing the same issue in my rails project. Extension does not work unless I remove my `config/puma.rb` file, with exactly the same message:
`ENOTDIR: not a directory, stat '<application_path>/config/puma.rb/**'`

[2020-06-18 02:38] rpbaltazar commented on #81
Reverting back to the 1.2.0 solves the issue

[2020-06-19 15:25] patbenatar commented on #81
Temporarily reverted globby change in 1.2.2 which should fix this issue for the meantime. Let me know.

[2020-06-19 16:09] JoeNg93 commented on #81
@rpbaltazar @matthewmcgarvey Might I know which OS you guys are using? So that I can try to reproduce the issue.

[2020-06-19 16:49] matthewmcgarvey commented on #81
I'm using a Mac

[2020-06-24 01:56] rpbaltazar commented on #81
same here

[2020-09-19 01:10] floydwch opened #83 ".gitignore located at subdirectories should be respected"
In a micro-service oriented project, it would have different .gitignore files in different subdirectories.

The current implementation of advanced new file collects the .gitignore file from project dir to the system's root, and it doesn't consider the .gitignore files located at subdirectories.

[2020-09-20 15:58] patbenatar commented on #83
@floydwch good idea! Perhaps a workaround for the time being: if you open each git repo as its own root in a multi-root workspace, all the gitignores should be honored.

[2020-09-21 10:25] floydwch commented on #83
@patbenatar yeah, it's how I'm dealing with it in the meanwhile.

[2020-10-24 06:41] inwardmovement opened #84 "Relative path for "current" convenience option"
Why is the full absolute path displayed for the "current" convenience option?
Would be great to have it relative like others in my opinion.

![image](https://user-images.githubusercontent.com/9438102/97069992-a88d1380-15d4-11eb-9e21-08a909872778.png)

[2020-10-24 06:44] inwardmovement opened #85 "Tab to select"
I think it may be a slight UX improvement if we could validate the selection in the list with `tab`, just like with `enter`.

[2020-10-24 14:48] patbenatar commented on #84
Interesting. Seems to only be a problem on Windows.

[2020-10-24 14:49] patbenatar commented on #85
@inwardmovement thanks for the suggestion! I unfortunately don't have much time these days to add features, but I'd welcome contributions if you're interested :)

[2021-01-05 14:07] dixiedream opened #87 "OpenVSX"
Please upload your extension to openVSX as my Arch installation stop finding it after the marketplace switch.

Thanks

[2021-02-21 01:20] rafiazman commented on #87
I use VSCodium myself and have found this extension to be super nifty on my VSCode install on a separate machine.

Would be great to see this published on Open VSX as well 😄

They have published documentation for the publishing process [here](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions).

[2021-03-06 19:44] patbenatar commented on #87
@dixiedream @rafiazman finally got around to this -- I think I've done it, can you please verify?

[code]

[2021-03-06 19:46] #87 closed

[2021-03-07 11:29] rafiazman commented on #87
Thank you for taking the steps to publish it! 😁

I see it published now as "giantcola.advanced-new-file". I have requested for the other listing to be removed (published by Open VSX on my request).

See: https://github.com/open-vsx/publish-extensions/pull/301

[2021-04-30 06:37] GBoGH commented on #72
I second this. Is there a way to change backward slashes to forward ones?

[2021-05-08 08:21] squatmaestro opened #93 "Extension fails to load"
I installed the extension, but when I press the keybinding, file path dialog flashes (appears then disappears) and VSCode shows an alert:
![Screenshot from 2021-05-08 17-15-15](https://user-images.githubusercontent.com/59955181/117532244-7d728a80-b021-11eb-8ca0-0649b191d0c3.png)

Running on Ubuntu 20.20.

[2021-05-12 15:21] hanhpv commented on #93
Got the same error on Magento 2 code

[2021-07-10 09:17] DumboCL commented on #93
Same error too.

[2021-08-02 17:56] AlanHeckinJohnston opened #95 "Cannot use the extension - error upon initially executing command, where you type in the path"
Path input appears in console for about a quarter of a second, then I get
`Running the contributed command: 'extension.advancedNewFile' failed.`
and it closes.

Did uninstall, restart, etc. I'm on windows and the project is within WSL. Note that it worked perfectly for a long time, but stopped working suddenly.

Note: downgrading to 1.2.1 resolves the issue.

[2021-08-05 11:22] Marskritiqual opened #96 "Cannot create new file when one file is opened"
When focusing on a file, pressing the keyboard shortcut for open new file keep open this message: "Running the contributed command: 'extension.advancedNewFile' failed."

[2021-08-19 04:23] pgdaniel commented on #96
@Marskritiqual are you still having this problem? I was unable to reproduce. Can you give more details about your environment?

[2021-08-19 04:25] pgdaniel commented on #95
Hi @AlanHeckinJohnston can you give me some more details around your environment? I'm not able to reproduce.

[2021-08-19 04:31] pgdaniel commented on #93
@squatmaestro is this happening with a particular file? @DumboCL what kind of file did you experience this on? @hanhpv can you send me an example Magento 2 application/file to try this?

[2021-08-19 04:33] #53 closed

[2021-08-19 04:38] #62 closed

[2021-08-19 04:39] pgdaniel commented on #64
Closing old issues, re-open if you feel this is still an issue.

[2021-08-19 04:39] #64 closed

[2021-08-19 05:01] pgdaniel commented on #95
@AlanHeckinJohnston it might be that you have broken simlinks, try using this command from the command line in the root of your project `find . -xtype l`

[2021-08-19 05:03] pgdaniel commented on #93
@squatmaestro @DumboCL @hanhpv :

 it might be that you have broken simlinks, try using this command from the command line in the root of your project `find . -xtype l`

In the meantime I'm working on a fix for broken simlinks

[2021-08-19 14:03] AlanHeckinJohnston commented on #95
@pgdaniel yes, there was one broken simlink and after removing it the extension works fine.

[2021-08-19 14:03] #95 closed

[2021-08-20 00:38] pgdaniel commented on #96
I'm going to assume this is probably a bad symlink. If it is not feel free to reopen

[2021-08-20 00:38] #96 closed

[2021-09-09 13:41] ex-rookie opened #99 "Running the contributed command: 'extension.advancedNewFile' failed."
- VS Code Version: 1.60.0
- OS Version: Windows 10 - Version 1909 Build 18363.1734

This is slightly different from the https://github.com/patbenatar/vscode-advanced-new-file/issues/93

I am using the VSCode with Remote SSH Extension

The advanced-new-file extension works perfectly locally, but when installed on the Remote end, it opens up and tries to look for the save path, but then seems to tim

[2021-10-01 00:17] sewbacca opened #100 ".vscode Directory is ignored"
When I create a new Project, I can use the extension to create the `.vscode` directory, but I can't select it other than with current-file or last-selection. When I start creating other files and then want to create files in the `.vscode` directory, I can't select it.

[2021-10-09 01:28] DumboCL commented on #93
Hi, my issue got solved by itself. I installed another extension: Advanced New File, which also cannot work. I uninstalled it. However, it turned out to solve the previous issue. Now my advanced-new-file extension works very well.

[2021-11-04 03:04] bilogic commented on #74
@pgdaniel It also does not support symlinks

[2021-12-10 20:15] matthewmcgarvey commented on #81
Year and a half and 2 jobs later, ran into this issue again 🤦

[2021-12-10 20:43] matthewmcgarvey commented on #81
Change was reverted here: https://github.com/patbenatar/vscode-advanced-new-file/commit/0142d5d57303ae952bd0c9bc5ff9582a436d1c67

Thanks!

[2021-12-10 20:43] #81 closed

[2021-12-20 08:00] RYO0115 opened #103 "ENOENT: no such file or dictory error occurs when I start Advanced New File"
When I start Advanced New File with one of my project, pop up will come out with below messages.

Error with Command 'Advanced New File' (ENOENT: no such file or directory, stat '/path/to/some/library.so')

Maybe some of my path in the project is broken, but I have no idea to find that.
Could you give me some help with this issue?

Thank you in advance.
Ryo

[2022-03-29 20:26] Collyn-Lee-Ly opened #106 "Invalid regular expression"
When I use this extension to create a new file in the path "B:\MyCode\C++\qt\excel", it shows "Invalid regular expression: /^b:\MyCode\C++\qt\excel/: Nothing to repeat". I guess it is because my path contains "++".
Could you give me some help with this issue?

[2022-04-05 15:50] Swandog commented on #103
I am also seeing this problem.

I think in my case it is pointing to a file that existed in my repository at one point, but no longer

[2022-04-09 20:45] #69 closed

[2022-06-09 11:05] aindriu80 opened #109 "Can't create a new file when file is open"
Advanced New File has been working great for me for a long time but recently I can no longer create a new file when I have another file open.  I have started doing some PHP code and installed some extensions for that so I am wondering is that related.  The extension does work however if I click out of a file I'm working on - like clicking on the files in Explorer

With so many keyboard shortcuts,

[2022-06-09 16:19] patbenatar commented on #109
@aindriu80 this looks to me like a keyboard shortcut conflict -- ie while you have an editor focused, some other plugin or VS Code itself is intercepting the keyboard shortcut. Are you able to launch the extension from the command palette: Ctrl+Shift+P and then select "Advanced New File" ?

[2022-06-09 23:17] ryaninvents opened #110 "[Feature request] New command for creating file relative to current, without prompting for directory"
I use this extension constantly in large projects, and I rarely select a location other than "current file". However, I must still wait for the list of directories to load. Would there be interest in a new command `extension.advancedNewFileHere` that always creates the new file(s) relative to the open file? This way, the two commands could be bound to separate shortcuts and I could choose which to

[2022-06-09 23:18] ryaninvents commented on #110
Possibly related to #58

[2022-06-09 23:36] patbenatar commented on #110
@ryaninvents Agreed! That'd be a great feature. I don't have much time to work on this plugin these days -- although I do still use it all the time. If you're interested in PRing the feature, I'd welcome the contribution with open arms 😃

[2022-06-11 10:04] aindriu80 commented on #109
Yes, it was a shortcut conflict, I was sure I checked but it's back working again, great extension!

[2022-06-11 10:04] #109 closed

[2022-06-11 13:31] patbenatar commented on #109
Glad to hear it!

[2022-09-03 04:23] sugamkarki opened #111 "Brace expansion feature not working"
```index.{html,css}``` should create two files ```index.html``` and ```index.css```. But I am getting a single file ```index.{html,css}```

[2022-09-07 20:26] Ahmed-ata112 commented on #111
Yes, it doesn't work, and I think it's because of an update in the braces package.
I tried to solve it but still not really tested  yet and you can check it [here ](https://github.com/Ahmed-ata112/vscode-advanced-new-file/tree/AddNewFileHere-branch)

[2022-09-09 02:31] #111 closed

[2022-09-19 13:59] TSSReal opened #114 "[Feature request] Create multiple files at once"
Instead of doing ctrl + n and creating one file to then repeat the same process when you could implement something to create multiple files at once. For example typing in dog.html, cat.css

[2022-10-07 13:28] Archetipo95 commented on #114
Yep I would like to use it, maybe something like comma separated files:
`MyNewFile.vue, MyNewFile.stories.ts, MyNewFile.props.ts`